# IDEA
.idea/
*.iml
target/

# VS Code
.vscode/

# 日志、临时文件
*.log
*.tmp

# 系统文件
.DS_Store
Thumbs.db

# 配置（敏感信息）
application-*.yml
application-*.properties
deploy/config.env
deploy/logs/
deploy/sqldm.pid
deploy/sqldm.jar
*.class
cookies.txt
META-INF/